<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rocks.codethat.ghostpassword">

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name="rocks.codethat.ghostpassword.GhostPassword"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:icon"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="rocks.codethat.ghostpassword.keepass2android_integration.Keepass2Android_IntegrationAccessReceiver"
                  android:exported="true">
            <intent-filter>
                <action android:name="keepass2android.ACTION_TRIGGER_REQUEST_ACCESS"/>
                <action android:name="keepass2android.ACTION_RECEIVE_ACCESS"/>
                <action android:name="keepass2android.ACTION_REVOKE_ACCESS"/>
            </intent-filter>
        </receiver>
        <receiver android:name="rocks.codethat.ghostpassword.keepass2android_integration.Keepass2Android_IntegrationActionReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="keepass2android.ACTION_OPEN_ENTRY"/>
                <action android:name="keepass2android.ACTION_CLOSE_ENTRY_VIEW"/>
                <action android:name="keepass2android.ACTION_ENTRY_ACTION_SELECTED"/>

                <action android:name="keepass2android.ACTION_LOCK_DATABASE"/>
                <action android:name="keepass2android.ACTION_UNLOCK_DATABASE"/>
                <action android:name="keepass2android.ACTION_CLOSE_DATABASE"/>
                <action android:name="keepass2android.ACTION_OPEN_DATABASE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>